
<div class="article-form">
    <h2>Ajouter un article</h2>
    <form (ngSubmit)="addArticle()" #articleForm="ngForm">
    <div>
    <label for="title">Titre :</label>
    <input
    type="text"
    id="title"
    name="title"
    [(ngModel)]="newArticle.title"
    required
    />
    </div>
    <div>
    <label for="content">Contenu :</label>
    <textarea
    id="content"
    name="content"
    [(ngModel)]="newArticle.content"
    required
    ></textarea>
    </div>
    <div>
    <label for="content">Catégorie :</label>
    <select name="category" id="category" [(ngModel)]="newArticle.category" required>
        <option value="News">News</option>
        <option value="Sport">Sport</option>
        <option value="Divertissement">Divertissement</option>
        <option value="Musique">Musique</option>
        <option value="Savoir et Cultures">Savoir et Cultures</option>
        <option value="Tendance mode">Tendance mode</option>
        <option value="Jeux">Jeux</option>
    </select>
    </div>
    <button type="submit"
   [disabled]="articleForm.invalid">Ajouter</button>
    </form>
</div>
<div>


    @for (article of articles; track article._id) {
    <div>
    <h2>{{ article.title }}</h2>
    <p>{{ article.content }}</p>    
    <p>{{ article.category }}</p>
    <button (click)="deleteArticle(article._id)">Supprimer</button>
    </div>
    }

</div>
<div>
    <a href="/utilisateur" routerLinkActive="router-link-active" routerLinkActive="router-link-active" >Voir les utilisateurs</a>
</div>
   
