<!-- Barre de navigation en haut -->
<nav class="navbar">
  <div class="navbar-left">
    <span class="logo">Garage </span>
  </div>

  <div class="navbar-right">
    <a href="#" class="logout-icon">
      <i class="fa fa-sign-out">deconnexion</i> <!-- Icône de déconnexion -->
    </a>
  </div>
</nav>

<!-- Sidebar -->
<div class="sidebar">
  <ul>
    <li><a href="#">Tableau  de bord</a></li>
    <li><a routerLink="/rendezvous">Rendez-vous </a></li>
    <li><a href="#">Profit</a></li>
    <li><a href="#">Rendez-vous</a></li>
    <li><a href="#">Calendrier</a></li>
    <li><a href="#">Non validé</a></li>
    <li><a href="#">Mécanicien</a></li>
    <li><a href="#">Profil</a></li>
    <li><a href="#">Congé</a></li>
    <li><a href="#">Services </a></li>
    <li><a href="#">Stock</a></li>
    <li><a href="#">Événement</a></li>
  </ul>
</div>
<app-sidebar></app-sidebar>

<div class="content">
  <router-outlet></router-outlet>
</div>



