/* Style de la barre de navigation (navbar) */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #2c3e50;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-left {
  font-size: 24px;
  font-weight: bold;
}

.navbar-right {
  font-size: 20px;
}

.logout-icon {
  color: white;
  text-decoration: none;
}

.logout-icon i {
  font-size: 20px;
  cursor: pointer;
}

.logout-icon:hover {
  color: #f44336; /* Change la couleur de l'icône au survol */
}

/* Style de la sidebar */
.sidebar {
  position: fixed;
  top: 50px; /* Décale la sidebar en dessous de la navbar */
  left: 0;
  width: 250px;
  height: 100%;
  background-color: rgb(45, 3, 233);
  color: white;
  padding-top: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  text-align: left;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

.sidebar ul li a:hover {
  background-color: #575757;
}
