<div class="container">
  <h1>Liste des Promotions</h1>

  <!-- Bouton Ajouter une promotion -->
  <a class="add-promotion-button" (click)="openAddModal()">Ajouter une promotion</a>

  <!-- Modal pour ajouter ou modifier une promotion -->
  <div class="modal" *ngIf="isModalOpen">
    <div class="modal-content">
      <h2>{{ isEditMode ? 'Modifier une Promotion' : 'Ajouter une Promotion' }}</h2>
      <form (ngSubmit)="isEditMode ? updatePromotion() : addPromotion()">
        <div class="form-group">
          <label for="promotionName">Nom de la promotion:</label>
          <input type="text" id="promotionName" [(ngModel)]="currentPromotion.name" name="name" required>
        </div>
        <div class="form-group">
          <label for="promotionDescription">Description:</label>
          <input type="text" id="promotionDescription" [(ngModel)]="currentPromotion.description" name="description" required>
        </div>
        <div class="form-group">
          <label for="promotionStartDate">Date début:</label>
          <input type="date" id="promotionStartDate" [(ngModel)]="currentPromotion.startDate" name="startDate" required>
        </div>
        <div class="form-group">
          <label for="promotionEndDate">Date fin:</label>
          <input type="date" id="promotionEndDate" [(ngModel)]="currentPromotion.endDate" name="endDate" required>
        </div>
        <div class="form-group">
          <label for="promotionDiscount">Réduction (%):</label>
          <input type="number" id="promotionDiscount" [(ngModel)]="currentPromotion.discount" name="discount" required min="0" max="100">
        </div>
        <div class="form-group">
          <label for="promotionCode">Code promo:</label>
          <input type="text" id="promotionCode" [(ngModel)]="currentPromotion.code" name="code" required>
        </div>

        <button type="submit" class="btn-submit">{{ isEditMode ? 'Modifier' : 'Ajouter' }}</button>
        <button type="button" class="btn-close" (click)="closeModal()">Fermer</button>
      </form>
    </div>
  </div>

  <!-- Liste des promotions -->
  <div class="promotion-list">
    <div *ngFor="let promotion of promotions; let i = index" class="promotion-item">
      <div class="promotion-img">
        <img [src]="promotion.img" [alt]="promotion.name">
      </div>
      <div class="promotion-info">
        <h3>{{ promotion.name }}</h3>
        <p><strong>Description:</strong> {{ promotion.description }}</p>
        <p><strong>Date début:</strong> {{ promotion.startDate }}</p>
        <p><strong>Date fin:</strong> {{ promotion.endDate }}</p>
        <p><strong>Réduction:</strong> {{ promotion.discount }}%</p>
        <p><strong>Code promo:</strong> {{ promotion.code }}</p>
      </div>
      <div class="promotion-actions">
        <button class="btn-modifier" (click)="openEditModal(i)">Modifier</button>
        <button class="btn-supprimer" (click)="deletePromotion(i)">Supprimer</button>
      </div>
    </div>
  </div>
</div>
